asn1crypto==0.24.0
audioread==2.1.6
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
idna==2.7
Pillow==5.2.0
preview-generator==0.2.3
protobuf==3.6.0
pycparser==2.18
pycrypto==2.6.1
PyPDF2==1.26.0
python-axolotl==0.1.42
python-axolotl-curve25519==0.4.1.post2
python-dateutil==2.7.3
python-magic==0.4.15
requests==2.19.1
six==1.10.0
typing==3.6.4
urllib3==1.23
Wand==0.4.4
yowsup2==2.5.10
